---
title: "Web Development"
---
{% extends "layout.html" %}
{% block content %}

<p>This is the course material for the two Web Development sessions for <a href="http://theshortcut.org/">http://theshortcut.org/</a> school of startups 2017. Note that this material is still being developed.</p>

<p>Full sources are at <a href="https://gitlab.com/sfenech/web-development">https://gitlab.com/sfenech/web-development</a> and please, feel free to contribute by creating merge requests or opening issues.</p>

<div class="sidebar">
  <h3>What is <a href="http://theshortcut.org/">the shortcut</a>?</h3>
  <p>It is a voluteer based non-profit organisation aimed at empowering  people from diverse backgrounds to consider creating or working for a startup to best utilize their skills and aspirations.</p>
</div>

<div class="sidebar">
  <h3>What is the <a href="http://theshortcut.org/schoolofstartups/">School of Startups</a>?</h3>
  <p>It is a three-week series of workshops which will provide you with the necessary skills and test where your journey in the startup world begins.</p>
</div>

<h2>Intro</h2>

<p>The aim of these two Web Development sessions is to remove as many barriers as possible from creating and serving web projects. As you might expect, one cannot learn everything about web development in 4 hours but from my experience the hardest parts are</p>
<ul>
<li>Getting an end to end proof of concept working (after that it is easier to iterate and improve different parts)</li>
<li>Knowing what are the relevant topics to search for (google is very handy… but first you need to know what to look for)</li>
</ul>

<p>I will be presenting the concepts, backed by working examples and links to reference material for those who want to dig deeper.</p>

<p>By the end of these 4 hours you should have</p>
<ul>
<li>A simple web page deployed and accessible</li>
<li>Clear idea of what would be needed to build web applications and where to go to learn more.</li>
</ul>
<p>I strongly believe in iteratively improving whatever you are doing, and that is the approach I will be taking during these 4 hours. So we will be starting with something simple, and then iteratively improving it. Even if we do not go through all the planned topics, I will be providing the slides so that you will know what are the next steps.</p>

<p>Some of the basic topics will be</p>
<ul>
<li>HTML &amp; CSS</li>
<li>Workflow Automation</li>
<li>Version Control</li>
<li>Deploying a website</li>
</ul>
The prerequisites are willingness to learn, experiment and fail. Of course, having prior knowledge of  HTML, CSS, Javascript… would be useful but not necessary. If we have people with very diverse experiences I would hope that experienced students will have some patience and also willingness to help out others with more limited experience.

<h2>Session 1</h2>
<ul>
  <li><a href="prerequisites_session_01.html">Prerequisites</a>: Things to do before starting the training.
</ul>
<ul>
  </li>
  <li><a href="presentations/00-intro.html">Presentation: Intro</a></li>
  <li><a href="presentations/01-client_side_session_01.html">Presentation: Client Side (Session 1)</a></li>
</ul>
<ul>
  <li><a href="exercise-myFirstPage.html">Exercise: My First Page</a>: Creating your first page</li>
  <li><a href="exercise-workflowAutomation.html">Exercise: Workflow automation</a>: Edit, save refresh loop gets tedious...</li>
  <li><a href="exercise-css.html">Exercise: CSS</a>: Lets style our page</li>
</ul>
<h2>Session 2</h2>
<ul>
  <li><a href="prerequisites_session_02.html">Prerequisites</a>: Things to do before starting the session 2 training.
  </li>
</ul>
<ul>
  <li><a href="presentations/01-client_side_session_02.html">Presentation: Client Side (Session 2)</a></li>
</ul>
<ul>
  <li><a href="exercise-gitAndGitlab.html">Exercise: git &amp; gitlab</a>: Version Control</li>
  <li><a href="exercise-gitlabPages.html">Exercise: Gitlab Pages</a>: Lets publish our page</li>
</ul>
<h2>Extra Session</h2>
<ul>
  <li><a href="prerequisites_session_03.html">Prerequisites</a>: Things to do before starting session 3 training</li>
</ul>
<ul>
  <li><a href="presentations/02-server_side.html">Presentation: Server Side</a></li>
</ul>
<ul>
  <li><a href="exercise-googleAppEngine.html">Exercise: Google App Engine</a>: Deploy a server side app to Google App Engine</li>
  <li><a href="exercise-addingCommentsSection.html">Exercise: Using the Message Board Service</a>: Adding Comments to the static gitlab pages using the backend service recently deployed</li>
</ul>
<h2>Participants</h2>
<a href="participants.html">Participants' Pages</a>
<h2>Tools Used</h2>
<ul>
  <li><a href="http://gulpjs.com/">gulp</a>: for workflow automation.</li>
  <li><a href="https://mozilla.github.io/nunjucks/">nunjucks</a>: for templating through <a href="https://github.com/carlosl/gulp-nunjucks-render">gulp-nunjucks-render</a></li>
  <li><a href="https://atom.io/">atom</a>: as my text editor</li>
</ul>
<h2>Trainer Notes</h2>
<a href="trainerNotes.html">Trainer Notes</a>
{% endblock %}
