$backgroundColor: #1b1c3b;
$highlight: #CE0686;
$highlightCool: #55BEE7;
$contentBackground: #F0F3F6;

body {
  background: $backgroundColor url("imgs/bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
  color: $contentBackground;
  padding: 1em 2em;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0 auto;
  border: 0 2em;
  max-width: 800px;
  padding: 1em 2em;
  line-height: 1.4em;
}

ul,ol {
  margin-top: 0.2em;
}

ol {
  list-style-type: none;
  padding-left: 3em;
  margin-top: 1em;
  margin-bottom: 3em;
}
ol>li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  &::before {
    content: counter(step-counter);
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    background-color: $backgroundColor;
    color: $contentBackground;
    font-weight: bold;
    width: 2.2em;
    margin-left: -3em;
    margin-right: 0.8em;
    border-radius: 100%;
  }
}


p {
  margin-bottom: 0.2em;
}

a {
  color: $highlight;
}

h1 {
  a {
    color: $contentBackground;
    text-decoration: none;
  }
  margin-bottom: 0;
}

h2.secondary {
  margin-top: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 0.9em;
}

div.content {
  background-color: $contentBackground;
  padding: 1em 2em;
  color: $backgroundColor;
}

div.sidebar {
  width:250px;
  float: right;
  clear: both;
  background-color: $highlight;
  color: $contentBackground;
  padding: 0 1em 0.5em 1em;
  margin: 1em -5em 1em 1em;

  @media screen and (max-width: 600px) {
    width: calc(100% + 2em);
    margin: 0.5em 0 0 -2em;
    padding-top: 0.1em;
    float: none;
  }

  a {
    color: $contentBackground;
  }
}

div.footer {
  padding: 1em 0em;
}

div.content {
  img {
    max-width: 100%;
    max-height: 20em;
    display: block;
    padding: 1em;
    margin: 0 auto;
  }
  li > img {
    max-width: 80%;
    display: block;
    padding: 1em;
  }
}

span>code.hljs {
  display: inline-block;
  padding: 2px;
  line-height: 0.9em;
}

// Message Board
#messageBoard {
  background-color: $contentBackground;
  padding: 1em 2em;
  margin-top: 2em;
  color: $backgroundColor;
  div.messageBoardMessages::before {
    content: "Comments Section";
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
  }
  div.messageDate {
    font-size: 0.5em;
  }
  div.messageText {
    margin-bottom: 0.8em;
  }
  div.messageBoardForm {
    text-align: right;
    textarea {
      display: block;
      width: calc(100% - 6px);
      height: 10em;
    }
  }
}
