<html>
  <head>
    <title>{{ title | default("Web Development")}}</title>
    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/white.css">
    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
{% block content %} {% endblock %}
      </div>
    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
    <script>
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,
        slideNumber: 'c/t',
        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js'},
          { src: 'plugin/markdown/markdown.js'},
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/math/math.js', async: true}
        ]
      });
    </script>
    <script src="presentation.js"></script>
  </body>
</html>
