---
title: "Something about me"
---
{% extends "layout.html" %}
{% block content %}
<section>
  Go to
  <h2>http://sfenech.gitlab.io/<br>web-development</h2>
  Install Prerequisites
</section>
<section data-background-image="./imgs/Cover.jpg" data-background-color="#f9dd1e">
  <div style="height:10em;"></div>
  <small>
    <h1>Web Development</h1>
    <h2>Stephen Fenech, Senior Developer, Nosto</h2>
    29 May 2017<br>
    #schoolofstartups
  </small>
</section>
<section data-markdown>
# Something about me...
## Stephen Fenech
</section>
<section data-markdown>
## Quick History
- Born in Malta
  - Programming with Pascal
  - Collecting "cool" web snippets
- Studied University of Malta
- Worked as Consultant
- Moved to Finland
- Working @ startup for last 5 years
</section>
<section data-markdown>
## @Nosto
- First full-time dev
- E-Commerce personalisation as a Service
  - Plus other goodies
- Done all kinds of things
  - Web Development
  - Data Science
  - Built IKEA
  - ...
</section>
<section data-markdown>
## Our Plan
- Intro to Web
- HTML & CSS
- Workflow Automation
- GIT
- Deploy our page!
</section>
<section data-markdown>
[Let's get Started](01-client_side_session_01.html)
</section>
{% endblock %}
