---
title: "Client Side"
---
{% extends "layout.html" %}
{% block content %}
<section data-background-image="./imgs/Cover.jpg" data-background-color="#f9dd1e">
  <div style="height:10em;"></div>
  <small>
    <h1>Web Development</h1>
    <h2>Stephen Fenech, Senior Developer, Nosto</h2>
    13 November 2017<br>
    #schoolofstartups
  </small>
</section>
<section data-markdown>
# Session 1
## Client Side
</section>
<section data-markdown>
## Agenda
- Sesion 1
  - Client & Server
  - The Browser
  - HTML & CSS
  - Workflow Automation with gulp
- Session 2
  - Intro to git
  - Intro to gitlab
  - deploying our first HTML page
</section>
<section>
<section data-markdown>
## Client & Server
</section>
{% include "01-client_server.html" %}
</section>
<section>
<section data-markdown>
## The Browser
</section>
{% include "01-theBrowser.html" %}
</section>
<section>
<section data-markdown>
## Inspecting HTML
</section>
{% include "01-inspectingHtml.html" %}
</section>
<section>
<section data-markdown>
## HTML
</section>
{% include "01-html.html" %}
</section>
<section data-markdown>
## Create simple website
[First Exercise](../exercise-myFirstPage.html)
</section>
<section>
<section data-markdown>
## CSS
</section>
{% include "01-css.html" %}
</section>
<section>
<section data-markdown>
## Intro to Workflow Automation with gulp
</section>
{% include "01-gulp.html" %}
</section>
<section data-markdown>
## Further Learning
- [Code Academy](https://www.codecademy.com/)
- [Coursera - Intro to HTML5](https://www.coursera.org/learn/html)
- [Coursera - Intro to CSS3](https://www.coursera.org/learn/introcss)
- [How Browsers Work](https://www.html5rocks.com/en/tutorials/internals/howbrowserswork/)
</section>
<section data-markdown>
## Next Slide Set
[Session 2](01-client_side_session_02.html)
</section>
{% endblock %}
