---
title: "Client Side"
---
{% extends "layout.html" %}
{% block content %}
<section data-background-image="./imgs/Cover.jpg" data-background-color="#f9dd1e">
  <div style="height:10em;"></div>
  <small>
    <h1>Web Development</h1>
    <h2>Stephen Fenech, Senior Developer, Nosto</h2>
    15 November 2017<br>
    #schoolofstartups
  </small>
</section>
<section data-markdown>
# Session 2
## Client Side
</section>
<section data-markdown>
## Agenda
- Sesion 1
  - Client & Server
  - The Browser
  - HTML & CSS
  - Workflow Automation with gulp
- Session 2
  - Intro to git
  - Intro to gitlab
  - deploying our first HTML page
</section>
<section>
<section data-markdown>
## Intro to Git
</section>
{% include "01-git.html" %}
</section>
<section>
<section data-markdown>
## Configuring Gitlab's Pipeline
</section>
{% include "01-gitlabPipeline.html" %}
</section>
<section data-markdown>
## Further Learning
- [Pro Git](https://git-scm.com/book/en/v2)
</section>
<section data-markdown>
## Next Slide Set
[Server Side](02-server_side.html)
</section>
{% endblock %}
