---
title: "Server Side"
---
{% extends "layout.html" %}
{% block content %}
<section data-background-image="./imgs/Cover.jpg" data-background-color="#f9dd1e">
  <div style="height:10em;"></div>
  <small>
    <h1>Web Development</h1>
    <h2>Stephen Fenech, Senior Developer, Nosto</h2>
    November 2017<br>
    #schoolofstartups
  </small>
</section>
<section data-markdown>
# Session 2
## Server Side
</section>
<section data-markdown>
## Agenda
- Web Architecture
- Cloud
- Web Applications
- Rest
- Some Javascript
</section>
<section>
<section data-markdown>
## Web Architecture
</section>
{% include "02-webArchitecture.html" %}
</section>
<section>
<section data-markdown>
## The "Cloud"
</section>
{% include "02-theCloud.html" %}
</section>
<section>
<section data-markdown>
## Building A Web Application
</section>
{% include "02-webApplication.html" %}
</section>
<section>
<section data-markdown>
## Some Javascript...
To integrate our page to the comments application
</section>
{% include "02-someJavascript.html" %}
</section>
<section data-markdown>
## Further Learning
- [Code Academy](https://www.codecademy.com/)
- [Coursera Javascript](https://www.coursera.org/courses?languages=en&query=javascript)
- [Javascript Allonge](https://leanpub.com/javascriptallongesix/read)
</section>
{% endblock %}
