$highlight: #2a76dd;

.reveal h1, .reveal h2,.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-style: italic;
    text-transform: none;
}

.reveal {
  div.col-left {
    width: 50%;
    float: left;
  }
  div.col-right {
    width: 50%;
    float: right;
  }
  iframe {
    border: black solid 1px;
    margin: 20px auto;
  }

  pre code[contenteditable] {
    height: calc(18rem - 8px);
  }
  [data-css-example],[data-html-example] {
    pre {
      width: 50%;
      float: left;
      margin: 0;
    }
    iframe {
      width: calc(50% - 20px );
      float: right;
      height: 18rem ;
      margin: 0;
    }
    ul {
      float: left;
      width: 24px;
      margin-left: -24px;
      list-style-type: none;
      font-size: 0.5em;
      li {
        word-wrap: break-word;
        cursor: pointer;
        line-height: 0.8em;
        margin-bottom: 10px;
        padding: 0.5em 0.2em;
        text-align: center;
        border: $highlight solid 1px;
        &.selected {
          background-color: $highlight;
          color: white;
        }
      }
    }
  }
}
