---
title: "gitlab pages"
---
{% extends "layout.html" %}
{% block content %}
<h2>Gitlab Pages</h2>
<p>On Gitlab (and similarly Github), you are able to publish content under the gitlab.io (github.io) domain. These means that you can publish your static website/content here. There are many people who publish their blog like this and you can even configure a custom domain to point to your blog. In this exercise we are going to add the final small piece to our code so that gitlab will deploy the page, and it will be made available over the internet.</p>
<ol>
  <li>Create new file named ".gitlab-ci.yml" in the root of your directory. Put the following contents into the file and save:
    {% set gitlabCI %}{% include 'gitlabPages/.gitlab-ci.yml' %}{% endset %}
    <pre><code class="yml">{{gitlabCI | escape}}</code></pre>
    This file will instruct gitlab how to "build" your project and which files to serve on gitlab.io. Underneath, gitlab uses this file to start a new "virtual machine", execute a script which installs gulp and dependencies and builds the project and finally identifies the files to put on gitlab.io. For full details you can read the <a href="https://docs.gitlab.com/ce/ci/quick_start/README.html">quick start guide</a> and the <a href="https://docs.gitlab.com/ce/ci/yaml/">documentation</a>.
  </li>
  <li>From source tree, stage .gitlab-ci.yml<img src="imgs/gitlabPages-01-stageCiConfig.png" /></li>
  <li>Then commit the file<img src="imgs/gitlabPages-02-commit.png" /></li>
  <li>Push it to origin<img src="imgs/gitlabPages-03-push.png" /></li>
  <li>And now that it is pushed, the labels of origin/master and master are on the latest commit<img src="imgs/gitlabPages-04-pushed.png" /></li>
  <li>Go to gitlab where the new .gitlab-ci.yml should be visible. Then click on Pipelines.<img src="imgs/gitlabPages-05-openGitlabAndSelectPipelines.png" /></li>
  <li>In the pipelines you have listed all the "builds" that have been made. In this case we can see only one, our first one, which was successfull. Note that it might be the case that the pipeline is still being built, in which case you will need to wait. Feel free to click on the pipeline, and the job, and follow the logs.<img src="imgs/gitlabPages-06-pipelines.png" /></li>
  <li>Go to Settings, and then pages, and from there you can see the url where the page is served.<img src="imgs/gitlabPages-07-settingsPages.png" /></li>
  <li>It might take a couple of minutes, but finally your page should be served on the gitlab.io domain.<img src="imgs/gitlabPages-08-pageServed.png" /></li>
</ol>
{% endblock %}
