---
title: "Google App Engine"
---
{% extends "layout.html" %}
{% block content %}
<h2>Google App Engine</h2>
<p>In this exercise we will deploy our application to google app engine. The focus is on getting our code deployed rather than on the actual "programming". The app we will be deploying will be a simple "Message Board". This can then be integrated with Javascript to our "static" website so we add a commenting functionality to our static page.</p>
<p>This will be a bare bone message board which should be simple enough to hack with additional features. We will also test the API (Application Programming interface) of our message board app using Postman.</p>
<p>Quick sidenote on some of my choices. I have chosen to implement the app using Java and the Ninjaframework. In order to use the Google App Engine without needing to configure a payment method, I had to choose one of the following languages, java 7, php, python or go. From my point of view, I chose java because it is the simplest cross platform development environment. Honestly, I would have like to use NodeJS in order to have the same language being used in the backend and front end, plus it has already been setup for use with gulp, but that was not possible to deploy to Google App Engine without entering a payment method. Once java was chosen, I wanted to use a framework which has similar concepts to other popular frameworks in other languages which works with java 7. I chose ninjaframework for that. Although it is not the most popular java framework, it has some nice features and the source code is quite readable, so you can easily look underneath the hood.</p>
<p>That said, you should probably not use my reasoning when you come to choose the framework you are going to use for your projects since your requirements are probably different and do not have the restrictions of the "Free Tier" of the google app engine.</p>
<p>Ok, back to the exercise, and to deploy our app.</p>
<h3>Deploying our App</h3>
<ol>
  <li>Go to <a href="https://console.cloud.google.com" >https://console.cloud.google.com</a>. If you do not have an account, you will be welcomed by <img src="imgs/gae-01-welcomeScreen.png" /></li>
  <li>Fill in form and click "Agree And Continue" <img src="imgs/gae-02-fill.png" /></li>
  <li>Once the terms have been accepted you will land on the dashboard. From here, one could follow a number of quick start tutorials by clicking the "Get Started" under the "Try App Engine" header.<img src="imgs/gae-03-landingPage.png" /></li>
  <li>Once expanded one can see that there are a number of supported languages. In our case, click Java. <img src="imgs/gae-04-tryAppEngine.png" /></li>
  <li>The quick start tutorials will guide you step by step through creating and deploying your first App. I would recommend trying some of them out, but for this exercise we will go ahead and deploy our own project. If you where to continue this tutorial you would learn that <ul>
    <li>Google Cloud has its own Git Repository Service.</li>
    <li>Can use a provisioned server as a "console" and temporarily execute your code there</li>
  </ul>Cancel the tutorial, and then click "Select a project" from the top.<img src="imgs/gae-05-quickStart.png" /></li>
  <li>Then click the "+" button to create a new project<img src="imgs/gae-06-createNewProject.png" /></li>
  <li>Select the name you want for your project.<img src="imgs/gae-07-selectName.png" /></li>
  <li>If you click on the "Edit" you could also set the project ID which is unique and will be in the "url" used to access the project<img src="imgs/gae-08-canSetId.png" /></li>
  <li>After the project is created, we want to install the Google SDK (Software Developer Kit) in order to be able to deploy our code to production. Please follow the instructions at <a href="https://cloud.google.com/sdk/">https://cloud.google.com/sdk/</a> in order to install the SDK for your own platform.  NOTE that you should skip creating the "compute" component. <img src="imgs/gae-09-sdk.png" /></li>
  <li>We will be using "java", so we need to install the app-engine-java component by executing "gcloud components install app-engine-java"<img src="imgs/gae-10-installAppEngineJavaComponent.png" /></li>
  <li>From your command prompt, go to the exercises/messageBoard folder which contains the server side code for the message board and execute "mvn appengine:deploy". Note in the output the url of where the application is being served. In this case "https://webdevelopment2017-theshortcut.appspot.com" <img src="imgs/gae-11-deployPart1.png" /><img src="imgs/gae-12-deployPart2.png" /></li>
  <li>Go to the url, and you should see a hello from the message board.<img src="imgs/gae-13-deployedPage.png" /></li>
</ol>
<p>Congratulations, we have deployed our application to the Google App Engine.</p>
<h3>Testing our App</h3>
<p>This message board simply stores a number of messages underneath a URL. The url pattern is /messages/{boardName}. It also has a simple HTTP based api. If you do a get request, you get the list of messages of that board. If you post request with a string, a new message is created.</p>
<p>It is easy to test get requests with a browser, you simply put the URL in the address and press enter. But to test out the post request, it is a bit more complicated. There are many APIs and servies out there which have "similarish" APIs and I typically use "Postman" to help me trying out the API and learn how it works. This is what we are going to do next</p>
<ol>
  <li>If you have not already, download the postman app from <a href="https://www.getpostman.com/">https://www.getpostman.com/</a><img src="imgs/postman-01-getPostman.png" /></li>
  <li>Open Postman<img src="imgs/postman-02-openPostman.png" /></li>
  <li>In the URL box enter the url of where the application was deployed plus "/messages/test". This will get all the messages on the board "test", which at this moment is empty. Click "Send" and you should get the return of "[]" which is an empty Array/List of messages. <img src="imgs/postman-03-getMessagesOnTestBoard.png" /></li>
  <li>Next step is to create a message, so we will change the request type to Post<img src="imgs/postman-04-changeRequestToPost.png"  /></li>
  <li>Then change the request type to JSON<img src="imgs/postman-05-changeToJson.png" /></li>
  <li>Then enter the message you want to create within quotes, for example "Test Message"<img src="imgs/postman-06-enterText.png" /></li>
  <li>Click submit, and the response is actually the message that was just created, which has an id, the text message and the created timestamp.<img src="imgs/postman-07-submit.png" /></li>
  <li>Now lets try to get the messages on the test board, by first changing back the method to GET<img src="imgs/postman-08-changeToGet.png" /></li>
  <li>And clicking submit will return a list with one message, which is the message that you have created before.<img src="imgs/postman-09-getMessages.png" /></li>
</ol>
<p>Feel free to create more messages, under different board and experiment with the API.</p>
<h3>Changing the Backend code</h3>
<p>As is, the message board service is lacking in features. For example, implementing paging or sending of emails on new comments. You could also get more creative, for example use Googl's NLP api to do sentiment analysis.</p>
<p>So, lets setup our environment so that we can execute the application locally, and also setup Eclipse, an IDE for java to be able to easily modify the code.</p>
<ol>
  <li>If you have not installed eclipse yet, go to <a href="https://www.eclipse.org/downloads/eclipse-packages/">https://www.eclipse.org/downloads/eclipse-packages/</a>, to download and install the IDE for your machine.<img src="imgs/eclipse-01-download.png" /></li>
  <li>The installer gives you multiple versions of Eclipse you can install. I would recommend the "Eclipse IDE for java Developers" for this exercise.<img src="imgs/eclipse-02-install.png" /></li>
  <li>Choose the location where you want eclipse to be installed<img src="imgs/eclipse-03-installFolder.png" /></li>
  <li>Install it<img src="imgs/eclipse-04-installing.png" /></li>
  <li>Launch it<img src="imgs/eclipse-05-launch.png" /></li>
  <li>Choose the location of the workspace. A workspace can be seen as the place where eclipse saves its "work state". For example, you can have multiple different workspaces, depending on what you are doing. For example, I typically have a workspace for work, and multiple other workspaces for side projects.<img src="imgs/eclipse-06-chooseWorkspace.png" /></li>
  <li>Close the startup screen. Note that you can uncheck  "Always show Welcome at start up".<img src="imgs/eclipse-07-startupScreen.png" /></li>
  <li>Next step is to import the project, by going File > Import...<img src="imgs/eclipse-08-import.png" /></li>
  <li>From under maven, select "Existing Maven Projects"<img src="imgs/eclipse-09-importExistingMaven.png" /></li>
  <li>Select the folder where there is the message Board, then click Finish<img src="imgs/eclipse-10-selectFolder.png" /></li>
  <li>Now you are in the project view. On the left there is the list of projects, in this case, only one, called messageBoard<img src="imgs/eclipse-11-projectView.png" /></li>
  <li>The message board is using the <a href="http://www.ninjaframework.org/">ninjaframework</a> which is a full stack web framework for Java. It might not be the most popular, however, it has some nice features, and the source code is quite readable, so you can easily look underneath the hood. Furthermore, there are many other frameworks for different languages which have very similar concepts to how the NinjaFramework application is organised. Some of the most important files are:
    <ul>
      <li>conf/application.conf: This has the main application configuration. Something that you should change is the application.secret since this value is used for managing sessions.</li>
      <li>conf/Routes.java: The Routes class wires the HTTP requests to the code which defines what should be done. So for example, doing a get request on "/" will end up calling the method "index" in the Application class. This file can also be seen as a high level description of all the entry points to the application.</li>
      <li>controllers/Application.java: This is the code which processed the HTTP requests</li>
      <li>services.board/MessageService.java: This is the service which build the bridge to the datastore, and is responsible for saving and retrieving the messages.</li>
    </ul><img src="imgs/eclipse-12-projectViewExpanded.png" /></li>
</ol>
<h3>Running Locally</h3>
To run the app locally, execute "mvn appengine:run".
<img src="imgs/runningLocally-01-appengineRunPart1.png" />
<img src="imgs/runningLocally-02-appengineRunPart2.png" />
And then you can go to <a href="http://localhost:8080/">http://localhost:8080/</a> and should get the hello from the message board. You can use Postman to test the rest of the requests. Note that once you do changes to the code, you will need to restart the server. This in general is not needed in ninjaframework when you run it through the ninjaframework maven plugin, unfortunately, this mode does not work as is with the Google App Engine devmode. This used to work with previous versions of the Google App Engine devmode, but not with the lates.
{% endblock %}
