---
title: "Simple Page"
---
{% extends "layout.html" %}
{% block content %}
<h2>Simple Page</h2>
<p>In this quick exercise we will be creating a simple page that describes who we are.</p>

<p>This is how mine looks like:</p>
<center>
  <iframe src="me.html" width="80%" height="200px"></iframe>
</center>

<p>And if we look at the source code :</p>

<div>
{% set meHtml %}{% include 'me.html' %}{% endset %}
<pre><code class="html">{{meHtml | escape}}</code></pre>
</div>
<p>Instead of copying and pasting the code, I would recommend that you type in the code, I personally find that I understand more than copying and pasting and then reviewing the code.</p>
<h3>Steps</h3>
<ol>
  <li>Open Atom</li>
  <li>Create your html file (just add &lt;h1>) and save
    <img src="imgs/myFirstPage-newFile.png"/>
    <img src="imgs/myFirstPage-saveFile.png"/>
  </li>
  <li>Open html file in Chrome Browser
    <img src="imgs/myFirstPage-openInChrome.png"/>
    <img src="imgs/myFirstPage-openNextToEachother.png"/>
  </li>
  <li>Modify file, save and then refresh chrome browser
    <img src="imgs/myFirstPage-editSaveRefresh1.png"/>
    <img src="imgs/myFirstPage-editSaveRefresh2.png"/>
  </li>
</ol>
{% endblock %}
