---
title: "Adding Comments Section"
---
{% extends "layout.html" %}
{% block content %}
<h2>Adding the Comments Section</h2>
<p>Now that you have deployed the message board to google app engine, the aim of this exercise is to add the commenting capabilities to your static pages deployed earlier through gitlab pages.</p>
<p>Instead of walking you through the steps of how to do this, it will be up to you to investigate the working example seen on this page (and also all the pages of these course materials). You can of course see the source code and use that.</p>
<p>Note that the focus has been "simplicity" so the code is not the most robust and probably does not work on old internet explorers. Furthermore it is also implemented using raw javascript. This is not necessarily a bad thing, and in this case explicitely, since the message board is quite simple it might be a good idea. But if you are planning a bigger application, I would consider using some javascript framework to help me out.</p>
<h3>Using the Developer Tools</h3>
<p>Lets investigate a bit the page <a href="https://sfenech.gitlab.io/web-development/index.html">https://sfenech.gitlab.io/web-development/index.html</a>. So open the page and open the Chrome Developer tools by clicking View->Developer->Developer Tools.</p>
<ol>
  <li>Looking at the loaded files, the ones which stand out are 88x31.png which is the license, the highlight files which are used to provide syntax highlighting and then there is messageBoard.js which is the javascript code which loads the comments section. Another interesting request is the final index.html. Note how the type of that request is "xhr" and not document like the first index.html. "xhr" stands for XML Http Request, and that is the request made by the javascript to load the comments.<img src="imgs/comments-01-openWebDeveloperNetwork.png" /></li>
  <li>Clicking on the messageBoard.js shows the javascript contents of the file.<img src="imgs/comments-02-messageBoardJs.png" /></li>
  <li>Clicking on the final index.html, shows the request that is being made, which is a GET request on https://webdevelopment2017-theshortcut.appspot.com/messages/sfenech.gitlab.io/web-development/index.html. So if we remember our message board API, this request is getting the messages on the board "sfenech.gitlab.io/web-development/index.html". We are using the "url" of the page itself to define the board name. This makes it easy to reuse the same "board" across different web pages.<img src="imgs/comments-03-indexXHR.png" /></li>
  <li>Clicking on the Response, shows the response message which is a list, containing 1 comment.<img src="imgs/comments-04-response.png" /></li>
  <li>One thing to note is the "Disable cache" checkbox. I typically have that checked while developing so that I always get the latest and freshest content. For example, when unchecking that box, most of the requests are coming from the caches, making the page load much faster.<img src="imgs/comments-05-disableCache.png" /></li>
  <li>Another way to inspect the page is to look at the elements. If you click on the top left button of the developer tools (looks like a square and arrow). After that is clicked, you can move the mouse across the different elements on the page, and click the one you want to see the html of.<img src="imgs/comments-06-lookingAtTheElements.png" /></li>
  <li>You can expand the elements, and not how hovering over the html also highlights the elements in the page.<img src="imgs/comments-07-expandedElements.png" /></li>
  <li>Another way to find the "code" which does something is to select elements, especially buttons, that you know are being used by the code in question. In this case, the add comment button is a prime candidate. If you select the button, then choose the Event Listeners tab from the right, and expand the click, you get the file and line of code where the event listener is.<img src="imgs/comments-08-usingButtonsToFindCode.png" /></li>
  <li>Clicking on the event listener function code, takes us to code of file messageBoard.js where the click listener is (i.e. the code that is executed once a click happens.)<img src="imgs/comments-09-buttonListener.png" /></li>
</ol>
<p>If you want to look at the source code in question, there is the <a href="https://gitlab.com/sfenech/web-development/blob/master/js/messageBoard.js">messageBoard.js</a> which is responsible to get the comments, and send the new comments. Another very important piece is CSS which styles the messages. We can as well use the developer tools to "find" the CSS in question</p>
<ol>
  <li>If we go back to the element view, and we look at the styles, not only do we see the actually applied styles but also "from where" they are coming. Clicking on style.css will take you to the source file.<img src="imgs/comments-10-css.png" /></li>
  <li>Unfortunately, this is not very readable because the css file was minimised in order to reduce size. This was done through gulp.<img src="imgs/comments-11-rawCss.png" /></li>
  <li>Luckily if you click on the {} button at the bottom, it will format the CSS into a more redable format.<img src="imgs/comments-12-formattedCss.png" /></li>
</ol>
<p>The source of the CSS can be found <a href="https://gitlab.com/sfenech/web-development/blob/master/style.scss#L91">https://gitlab.com/sfenech/web-development/blob/master/style.scss</a>. Note that this is not "pure" css but scss which is "SASS flavoured CSS". SASS adds extra functionality to CSS (for example, using of variables) which then gets compiled down to raw CSS.</p>
{% endblock %}
