---
title: "Workflow automation"
---
{% extends "layout.html" %}
{% block content %}
<h2>Workflow automation</h2>
<p>The edit, save &amp; refresh loop gets tedious very fast, at least for me. In general, the quicker you can get feedback, the better, because you will be able to iterate quicker. We will now use gulp to automate the "refresh" part in order to get feedback as quick as possible. This makes it especially valuable when you are changing the styling.</p>
<p>For this exercise, you will need these 4 files in the same folder:
<ul>
  <li>index.html: This is the same in index.html you where working on before</li>
  <li><a target="_blank" href="https://gitlab.com/sfenech/web-development/raw/master/exercises/workflowAutomation/package.json">package.json</a>: This defines what is required for the workflow automation to work. Copy the file contents.</li>
  <li><a target="_blank" href="https://gitlab.com/sfenech/web-development/raw/master/exercises/workflowAutomation/gulpfile.js">gulpfile.js</a>: This defines how the workflow automation will work. Copy the file contents</li>
</ul>
</p>
<p>We can ignore the contents of package.json and gulpfile.js for now, and just focus on getting our pipeline running. Open the command prompt and type in (followed by enter):</p>
<pre><code class="bash">npm install</code></pre>
<img src="imgs/workflow-01-npmInstallPart1.png" />
<img src="imgs/workflow-02-npmInstallPart2.png" />
<p>then, once that is finished type in the following (followed by an enter):</p>
<pre><code class="bash">gulp</code></pre>
<img src="imgs/workflow-03-gulp.png" />
The first command will install all dependencies needed for the automation, and the second command will start gulp. When gulp starts it will process the files (in this case the index.html) and it will also kick off the browser and open the file, just to be convinient. Put the browser next to the editor, modify index.html, save, and you should see the browser updating automatically. This will make our lives much easier as we progress through the training.
</p>
<p>Technically, once you get gulp running, then you can move on to the next <a href="exercise-css.html">exercise</a>, but if you are curious of the files needed to get this working, you can continue reading.</p>
<h2>The Nitty Gritty</h2>
<h3>package.json</h3>
This file describes all you need to know about the NodeJS project. In our case, the project is the workflow automation gulp project.
<pre><code class="json">{% include 'workflowAutomation/package.json' %}</code></pre>
<p>I would say that the most important is the list of Dependencies (including the versions). These are the dependencies which are installed when you execute npm install. Note that each of these dependencies have their own "package.json" and hence their own dependencies which are installed as well.</p>
<h3>gulpfile.js</h3>
<p>The gulpfile.js defines the workflow automation. Note that the gulpfile.js is written in javascript, using the "gulp" api to define tasks, but note that you can use any javascript code you want, and any Node libraries you would need. This gives you quite a lot of flexibility.</p>
<p>When it comes to reading a gulpfile.js, I typically start from the bottom, but the following is the full file:</p>
<pre><code class="javascript">{% include 'workflowAutomation/gulpfile.js' %}</code></pre>
<p>The last line has the definition of a task called "default". The default task is executed whenever you execute <span><code class="bash">gulp</code></span> without any particular task name. The default task definition has a list of other tasks, <span><code class="javascript">['build','serve','watch']</code></span> which are dependencies of this task. This means, that the default task will execute the build, serve and watch tasks.</p>
<p>So next we can look at the build task, which has a similar strucutre of the default task, in that it only has a list of other tasks which it depends on, <span><code class="javascript">['pages','pages-style']</code></span>. If we look at the 'pages' task, it has no dependencies, but instead it defines a function which is executed as the task. This task uses the gulp api, to define the source list <span><code class="javascript">gulp.src(['*.html'])</code></span> from where the files are taken. This is followed by a html minimisation, <span><code class="javascript">htmlmin({collapseWhitespace: true})</code></span> using the gulp-htmlmin plugin, and finally defining "where" the processed files should go to, <span><code class="javascript">gulp.dest('build')</code></span>. This is the core structure of most tasks.</p>
<p>The 'watch' task is another important task, which defines which files to monitor for changes, and what tasks to execute when the files have changed.</p>
<p>Finally, the 'serve' task will start a local web server, which not only will serve the built site, but also will "live reload" everytime any file changes.</p>
<p>For any task that you might want to automate, there is probably already a gulp plugin which does that. And if not, you could use javascript and node dependencies to automate andy workflows you need.</p>
{% endblock %}
