---
title: "Adding Styling"
---
{% extends "layout.html" %}
{% block content %}
<h2>Styling</h2>
<p>In this exercise we will add some styling to our html. For this exercise feel free to do what you want or follow this guide if you want a more step by step approach. We also recommend that you use the workflowAutomation that we have setup in the previous task.</p>

<p>If you follow these instructions by the end of this exercise, you should have something which looks like:</p>
<center>
  <iframe src="exercises-completed/css/index.html" width="100%" height="200px"></iframe>
</center>
<p>We will be following the next steps:</p>
<ol>
  <li>Define location of css file.</li>
  <li>Set max width for body</li>
  <li>Center Body by setting the left and right margins to be auto</li>
  <li>Set background image for html</li>
  <li>Set background colour for body</li>
  <li>Add some padding to the body</li>
  <li>Change font family to sans-serif</li>
  <li>Add border under the header</li>
  <li>Change font color</li>
</ol>
<p>After each step please save and see the differences on the page. If you do not see any changes, there might be some issue in the css. So lets get started step by step</p>
<ol>
  <li>The first step is to add the location of the css file to your html file by adding <span><code class="html">&lt;link rel="stylesheet" href="style.css"></code></span> to the head of your html</li>
  <li>Add the "body" rule and within the {} set the max-width to 600 pixels. <pre><code class="css">body {
    max-width: 600px;
}</code></pre></li>
  <li>If you make your page wider than 600 pixels, you will notice that the content will stay on the left of the window. To make it centered, we set the left and right margins of the body to auto by adding <span><code class='css'>margin: 0 auto;</code></span> within the body declaration. Note now that the body is now centered.</li>
  <li>When the window is wider than 600 pixels, instead of having that "border" be white, we can use a picture. Feel free to choose a picture from <a href="https://unsplash.com/">unsplash</a>. Then create a new html rule and add to it the background configuration <pre><code class="css">html {
  background-image: url("https://images.unsplash.com/photo-1488289209768-16ceec3f0b22");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}</code></pre></li>
  <li>Next we will set the background colour of the body to something other than white by adding <span><code class="css">background-color: #EEE;</code></span> to the body rule.</li>
  <li>The text is a bit to close to the edges, so we can add some more spacing by adding padding to the body by adding <span><code class="css">padding: 0.5em 2em;</code></span></li>
  <li>Instead of using the default serif font, I personally prefer the default sans-serif font, and that can be changed by adding <span><code class="css">font-family: sans-serif;</code></span></li>
  <li>Next we add a border line under the header, by creating a new rule for the header and adding <span><code class="css">border-bottom: #CCC solid 1px;</code></span></li>
  <li>Finally lets change the font colour. I typically never use "black" as my font colour but simply take a very very dark version of the main colour of my theme. In this case, we can set <span><code class="css">color: #000040;</code></span></li>
</ol>

The final css would look something like this:
<pre><code class="css">{% include 'css/style.css' %}</code></pre>
{% endblock %}
