---
title: "Prerequisites"
---
{% extends "layout.html" %}
{% block content %}
<h2>Prerequisites</h2>
The prerequisites are willingness to learn, experiment and fail. Of course, having prior knowledge of  HTML, CSS, Javascript… would be useful but not necessary. If we have people with very diverse experiences I would hope that experienced students will have some patience and also willingness to help out others with more limited experience.

The following are a list of software that should be installed on your machine before coming to the training and as well instructions to follow.

<ul>
  <li><a href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome</a>: Will be using the Chrome Developer tools as an example of how to dig into a web page, so it would be convinient that you have the same browser in order to follow along and experiment.</li>
  <li><a href="https://atom.io/">Atom</a>: Open Source text editor. Of course there are many text editors out there and Devs typically have a preferred set of tools. If you have no preferred text editor, I would suggest to try this one for this class, it is the one I used while creating the materials and the one I will be using in class.</li>
  <li><a href="https://nodejs.org/en/download/">node</a>: Runtime engine for javascript. This means that you can write code in javascript and have it execute outside of the browser. This will allow you to program in javascript both on the client-side (the browser) and server-side. We will be using node for Workflow automation, and if time permits we will also have some serverside code running in the cloud.</li>
  <li><a href="http://gulpjs.com/">gulp</a>: Used to automate workflows. Gulp is written in javascript and runs on the node runtime engine. To install enter "npm install gulp-cli -g" in your command line/prompt. This will install gulp and make it available.</li>
</ul>


{% endblock %}
