---
title: "Prerequisites"
---
{% extends "layout.html" %}
{% block content %}
<h2>Prerequisites</h2>
The prerequisites are willingness to learn, experiment and fail. Of course, having prior knowledge of  HTML, CSS, Javascript… would be useful but not necessary. If we have people with very diverse experiences I would hope that experienced students will have some patience and also willingness to help out others with more limited experience.

The following are a list of software that should be installed on your machine before coming to the training and as well instructions to follow.

<ul>
  <li><a href="https://www.getpostman.com/">postman</a>: Used to invoke/test HTTP based services. In this case, we will use it to interact with our messageBoard service during development, before we implement the integration with our web page.</li>
  <li><a href="http://www.oracle.com/technetwork/java/javaseproducts/downloads/index.html">Java Development Kit (JDK)</a>: Our server side app is going to be written in java.</li>
  <li><a href="https://www.eclipse.org/downloads/eclipse-packages">Eclipse</a>: This is one of many java IDEs. Of course you can use others like <a href="https://www.jetbrains.com/idea/#chooseYourEdition">IDEA</a>, but I am personally most familiar with Eclipse.</li>
  <li><a href="https://maven.apache.org/download.cgi">Maven</a>: is a project management tool. We will be suing it to "build" the serverside application and deploying it to the google app engine. Installation might slightly "trickier" and I would recommend to follow the <a href="https://maven.apache.org/install.html">Installation Instructions</a>.</li>
</ul>

{% endblock %}
