---
title: "Prerequisites - Gitlab Signup"
---
{% extends "layout.html" %}
{% block content %}
<h2>Gitlab Signup</h2>
<p>The gitlab signup is quite straightforward, but just in case, I have the steps documented here.</p>
<p>Go To <a href="http://gitlab.com">http://gitlab.com</a></p>
<img src="imgs/gitlabSignup-01-gitlabPage.png" />
<p>Click "Sign Up" top right</p>
<img src="imgs/gitlabSignup-02-signupRegisterPage.png" />
<p>Select Register</p>
<img src="imgs/gitlabSignup-03-registerPage.png" />
<p>Fill in registration form. You will need an email address and a username.</p>
<img src="imgs/gitlabSignup-04-emailConfirmationPage.png" />
<p>After registering a confirmation email should have been sent.</p>
<img src="imgs/gitlabSignup-05-confirmationEmail.png" />
<p>Open the mail and click on "Confirm your Email".</p>
<img src="imgs/gitlabSignup-06-confirmationPage.png" />
<p>This will lead you to a page notifying that the email confirmation was successfull and then you should log in</p>
<img src="imgs/gitlabSignup-07-landingPage.png" />
<p>After that you have successfully registered for a gitlab account.</p>
{% endblock %}
