---
title: "Prerequisites"
---
{% extends "layout.html" %}
{% block content %}
<h2>Prerequisites</h2>
The prerequisites are willingness to learn, experiment and fail. Of course, having prior knowledge of  HTML, CSS, Javascript… would be useful but not necessary. If we have people with very diverse experiences I would hope that experienced students will have some patience and also willingness to help out others with more limited experience.

The following are a list of software that should be installed on your machine before coming to the training and as well instructions to follow.

<ul>
  <li><a href="https://git-scm.com/downloads">git</a>: This is a distributed version control system. Git is used to "save" your source code and share/collaborate with others. This is a command line tool, and would suggest to also get SourceTree (see next point). In my day to day work, I use git both from the command line and through SourceTree depending on what I am doing</li>
  <li><a href="https://www.sourcetreeapp.com/">SourceTree</a>: Graphical User Interface (GUI) for git. The tool is free however you will need to register with atlassian, the company behind SourceTree</li>
</ul>

We will also be using some services, so please create the following accounts:

<ul>
  <li><a href="https://gitlab.com/">Gitlab</a>: Platform for developers to share code (through git) and also collaborate. There are other such platforms which might be more popular like "Github" or "Bitbucket" but I do prefer gitlab for my personal projects due to the extra goodies that they provide. Signup instructions can be followed <a href="prerequisites-signupGitlab.html">here</a></li>
</ul>

{% endblock %}
