---
title: "Trainer Notes"
---
{% extends "layout.html" %}
{% block content %}
<h2>Trainer Notes</h2>
<p>Some notes about how to deliver the content, and other pointers, learnt while delivering the content.</p>
<ul>
  <li>Having extra devs to help out with the exercises is very helpful and recommended if you have a decently sized class.</li>
  <li>Make it clear that prerequisites should be installed beforehand. (<a href="https://gitlab.com/sfenech/web-development/issues/3">https://gitlab.com/sfenech/web-development/issues/3</a> should help with this)</li>
  <li>Instead of following slides, and then giving exercises, another approach is to simply demo the exercises, and then have students do the exercises, and then simply use "parts" of the slides (for example to describe the git flow). There might be a need to link back exercises to relevant slides.</li>
</ul>
{% endblock %}
