<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | default("Web Development")}}</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1><a href="index.html">Web Development</a></h1>
  <h2 class="secondary">School of Startups 2017</h2>
  <div class="content">
    {% block content %} {% endblock %}
  </div>
  <div id="messageBoard"></div>
  <div class="footer">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="imgs/l-by-sa-4.0-88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  </div>
  <link rel="stylesheet" href="lib/highlightjs/highlight-9.11.0.min.css">
  <script src="lib/highlightjs/highlight-9.11.0.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
    var codeSpans=document.querySelectorAll("span code");
    for (var i = 0, len = codeSpans.length; i < len; i++) {
      hljs.highlightBlock(codeSpans[i]);
    }
  </script>
  <script src="js/messageBoard.js"></script>
  <!--script>messageBoard.init("http://localhost:8080","#messageBoard")</script-->
  <script>messageBoard.init("https://webdevelopment2017-theshortcut.appspot.com","#messageBoard")</script>
</body>
</html>
