<section>
  <div data-dot>
    digraph {
      graph [nodesep=1, ranksep=2];
      client -> server [ label="request"];
      server -> client [ label="response"];
    }
  </div>
</section>
<section>
  <div data-dot>
    digraph {
      graph [nodesep=1, ranksep=2];
      edge [dir="both"];
      client1 -> server;
      client2 -> server;
      client3 -> server;
      clientX -> server;
      clientY -> server
    }
  </div>
</section>
<section>
  <div data-dot>
    digraph {
      graph [nodesep=1, ranksep=2];
      edge [dir="both"];
      subgraph cluster_server{
        server1;server2;serverX;color=gray;label="server cluster"
      }
      client1 -> serverX;
      client2 -> server1;
      client3 -> server2;
      clientX -> server2;
      clientY -> serverX
    }
  </div>
</section>
<section data-markdown>
## How do clients "find" the server?
- Machines on internet all have an IP address
  - IPs look like 46.11.85.213
- We use domains (easier to remember)
  - For example google.com or theshortcut.org
- DNS (domain name service) converts Domain to IP
</section>
<section>
  <div data-dot>
    digraph {
      graph [nodesep=1, ranksep=2];
      client->dns [label="1) google.com"];
      dns->client [label="2) 216.58.198.14"];
      client->"216.58.198.14"[label="3) Http Request"];
      "216.58.198.14"->client[label="4)Http Response"]
    }
  </div>
</section>
<section>
  <h2>HTTP protocol</h2>
  <div class="col-left">
    <h3>Http Request</h3>
    <pre><code class="http">GET / HTTP/1.1
Host: www.google.com.mt
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.81 Safari/537.36
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Cookie: key1=value1; key2=value2...
...</code></pre>
  </div>
  <div class="col-right">
    <h3>Http Response</h3>
    <pre><code class="http">HTTP/1.1 200 OK
Date: Wed, 10 May 2017 20:08:39 GMT
Expires: -1
Cache-Control: private, max-age=0
Content-Type: text/html; charset=ISO-8859-1
Server: gws
X-Frame-Options: SAMEORIGIN
Set-Cookie: NID=103=Avl0hXQ...; expires=Thu, 09-Nov-2017 20:08:39 GMT; path=/; domain=.google.com.mt; HttpOnly
Transfer-Encoding: chunked

&lt;!doctype html>&lt;html itemscope="" itemtype="http://schema.org/WebPage" lang="mt">&lt;head>&lt;meta con...</code></pre>
  </div>
</section>
<section data-markdown>
## What about HTTPS?
- Secure version of HTTP
  - authentication of website
  - privacy & integrity of exchanged data
- Server needs "Certificate"
  - Can get a free certificate from [https://letsencrypt.org/](https://letsencrypt.org/)
</section>
<section data-markdown>
## Let's focus on the MOST IMPORTANT Client
</section>
