<section data-markdown>
### Cascading Style Sheets

Defines how to present html
</section>
<section data-markdown>
## Syntax

- List of rules
- Each Rule
  - Selector
  - Declaration
</section>
<section data-css-example>
  <h2>Simple Example</h2>
  <pre><code class="css" contenteditable  autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"></code></pre>
  <iframe src="../me.html"></iframe>
</section>
<section data-css-example data-html-example>
  <h2>Using Classes</h2>
  <ul><li>CSS</li><li>HTML</li></ul>
  <pre><code class="css" contenteditable  autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"></code></pre>
  <pre><code class="html" contenteditable  autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"><p>This is paragraph 1.</p>
<p>This is paragraph 2.</p></code></pre>
  <iframe></iframe>
</section>
<section>
  <h2>The Box Model</h2>
  <div style="border: black 1px dashed">
    margin
    <div style="border: black 1px solid; margin: 0 1em 1em 1em;">
      border
      <div style="border: black 1px dotted; margin: 0 1em 1em 1em;">
        padding
        <div style="border: black 1px solid; margin: 0 1em 1em 1em;">
          content
        </div>
      </div>
    </div>
  </div>
</section>
<section data-markdown>
## Layout (display)
- block: Can have widths & heights set, if not, width is full size within parent and height is determined by content.
- inline: Height and width are determined by contents, set heights and widths are ignored.
- inline-block: Similar to block except width is determined by content.
</section>
<!--section data-markdown>
## Positioning
- static: the default, and element is "flowed", (top, right, bottom and left are ignored)
- absolute: removed from its original layout position and positioned relative to its nearest non static parent using top, right, bottom and left properties.
- fixed: positioned relative to the window and NOT the document
- relative: element stays in original position, but top, right, button and left can be used to "nudge" the element.
</section-->
<section data-markdown>
## Further Learning
- [Code Academy](https://www.codecademy.com/)
- [Coursera - Intro to CSS3](https://www.coursera.org/learn/introcss)
- [Magic of CSS - slightly denser](http://adamschwartz.co/magic-of-css/)
</section>
<section data-markdown>
## For Inspiration
[CSS Zen Garden](http://www.csszengarden.com/)
</section>
