<section>
<h2>Dev Cycle</h2>
<div data-dot>
  digraph {
    graph [nodesep=1];
    "make changes"->"save"->"go to browser"->"refresh"->"check changes"->"make changes"
  }
</script>
</section>
<section>
<h2>Using Workflow automation</h2>
<div data-dot>
  digraph {
    graph [nodesep=1];
    "make changes"->"save"->"check changes"->"make changes"
  }
</div>
<br>Plus more goodies...
</section>
<section data-markdown>
## Workflow Automation
- [Grunt](https://gruntjs.com/)
- [Gulp](http://gulpjs.com/)
- [Webpack](https://webpack.js.org/)
- ...
</section>
<section data-markdown>
## Why I like Gulp?
- Configuration is JavaScript
- Lots of "plugins"
- Quite Flexible if no plugin is found
  - Underneath it is just a NodeJS application
- BUT it depends on situation...
</section>
<section>
<h2>What flow will we build?</h2>
<div data-dot>
  digraph { graph [nodesep=1];"source files"->"processed"->"outputted"}
</div>
</section>
<section data-markdown>
## Gulp API
- gulp.task
- gulp.src
- gulp.dest
- gulp.watch
</section>
<section>
<h2>Simple Gulp Task</h2>
<pre><code class="javascript">gulp.task('html-task', function() {
  gulp.src('*.html')
  .pipe(gulp.dest('build'))
});</code></pre>
</section>
<section>
<h2>Adding html Minification</h2>
<pre><code class="javascript">gulp.task('html-task', function() {
  gulp.src('*.html')
  .pipe(htmlmin({collapseWhitespace: true}))
  .pipe(gulp.dest('build'))
});</code></pre>
</section>
<section data-markdown>
## Add Workflow automation
[Workflow Automation Exercise](../exercise-workflowAutomation.html)

[CSS Exercise](../exercise-css.html)
</section>
