<section data-markdown>
## What are pipelines?
- groups of jobs executed on "Runners"
- Used for
  - Continuous Integration (CI)
  - Continuous Deployment (CD)

What we have just done is CD, after every commit, gitlab will execute code, and if successfull, deployes our page!
</section>
<section data-markdown>
## .gitlab-ci.yml
- Configures the pipelines
- [Quick Start](https://docs.gitlab.com/ce/ci/quick_start/README.html)
- [Documentation](https://docs.gitlab.com/ce/ci/yaml/README.html)
</section>
<section>
<h2>Our pages .gitlab-ci.yml</h2>
<pre><code class="yaml">{% include 'gitlabPages/.gitlab-ci.yml' %}</code></pre>
</section>
