<section data-markdown>
## Developer Tools
![view->Developer->Develoepr Tools](imgs/clientSide-openingDeveloperTools.png "Opening the Developer Tools")
</section>
<section data-markdown>
## Demo
</section>
