<section data-markdown>
## Most Trusted App?
- Banking
- Shopping
- Kela
- Get News
- Connect with Family & Friends
</section>
<section>
<h2>What is a browser?</h2>
<blockquote cite="https://en.wikipedia.org/wiki/Web_browser">&ldquo;a software application for retrieving, presenting and traversing information resources on the World Wide Web&rdquo;</blockquote>
<p style="text-align:right;">Wikipedia</p>
</section>
<section data-markdown>
## Quite a beast...
- Retrieve Resources
  - http, https, file...
- Presenting the resources
  - Render HTML pages
  - Render images, videos...
  - Run javascript which can do changes to presentation & content
  - Handle multiple plugins...
- Data Storage
  - Cookies
  - Remembering of Passwords etc
  - Local storage
</section>
<section>
  <h2>Rendering a web page</h2>
  <div data-dot data-dot-images='[ { "path": "./imgs/webpage.png", "width": "894px", "height":"520px"} ]'>
    digraph {
      graph [nodesep=0.5, ranksep=0.5];
      WebPage[image="./imgs/webpage.png",label="",shape="box",style="invisible"];
      HTML->Browser;
      CSS->Browser;
      Browser->WebPage;
    }
  </div>
</section>
<section>
<h2>Rendering a page</h2>
<div data-dot>
  digraph {
    graph [nodesep=1];
    html->dom[label="parsed"];
    css->cssom [label="parsed"];
    dom->"render tree";
    cssom->"render tree";
    "render tree"->"layout"[label="calculate coordinates"];
    "layout"->"screen"[label="print"]
  }
</div>
<aside class="notes">
- Parse html into Document Object Model (DOM)
- Parse css into CSS Object Model (CSSOM)
- Create render tree from DOM & CSSOM
- Do the "layout" of the page (calculate the coordinates)
- "paint" the page to screen
</aside>
</section>
<section>
<h2>Handling Changes</h2>
<div data-dot>
  digraph {
    graph [nodesep=1];
    html->dom[label="parsed"];
    css->cssom [label="parsed"];
    dom->"render tree";
    cssom->"render tree";
    "render tree"->"layout"[label="calculate coordinates"];
    "layout"->"screen"[label="print"];
    screen->screen[label="reprint"];
    screen->layout[label="reflow"]
  }
</div>
<aside class="notes">
- Repaint: Changes to styles which do not effect position
- Reflow: Dom manipulations, or any style changes which effect position

Browsers try to be as efficient as possible
</aside>
</section>
<section data-markdown>
## Further Reading
- [How Browsers Work](https://www.html5rocks.com/en/tutorials/internals/howbrowserswork/): Quite detailed
</section>
