<section data-markdown>
## Javascript
- Evolving language
- Standardized
- Both Client & Server side
</section>
<section data-markdown>
## Javascript & Browsers
- Programs "Behaviour" of pages
- Different browsers have different support
</section>
<section data-markdown>
## Where to put javascript
- Head within &lt;script>&lt;/script> tags
- Body within &lt;script>&lt;/script> tags
- Body within Listeners
</section>
<section>
    <h2>Within Head</h2>
    <pre><code class="html" contenteditable  autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">&lt;head>
  &lt;script>
    console.log("From Head!");
  &lt;/script>
&lt;/head></code></pre>
</section>
<section>
    <h2>Within Body</h2>
    <pre><code class="html" contenteditable  autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">&lt;body>
  &lt;script>
    console.log("From Body!");
  &lt;/script>
&lt;/body></code></pre>
</section>
<section data-html-example>
    <h2>Within Body (Listener)</h2>
    <pre><code class="html" contenteditable  autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">&lt;body>
  &lt;button onclick="alert('Hello!')">
    Say Hello!
  &lt;/button>
&lt;/body></code></pre>
    <iframe></iframe>
</section>
<section>
    <h2>Including external JS</h2>
    <pre><code class="html">&lt;script src="testScript.js">&lt;/script></code></pre>
</section>
<section data-markdown>
## Using the Console
Demo
</section>
<section>
<h2 id="javascriptIdSelectorExample">Selecting Elements</h2>
<ul class="javascriptSelectorExample">
  <li>document.getElementById('elementId');</li>
  <li>document.querySelector('#cssSelector')</li>
  <li>document.querySelectorAll('#cssSelector');</li>
</ul>
<pre><code class="html">&lt;h2 id="javascriptIdSelectorExample">Selecting Elements&lt;/h2>
&lt;ul class="javascriptSelectorExample">
  &lt;li>document.getElementById('elementId');&lt;/li>
  &lt;li>document.querySelector('#cssSelector')&lt;/li>
  &lt;li>document.querySelectorAll('#cssSelector');&lt;/li>
&lt;/ul></code></pre>
</section>
<section>
    <h2>Functions</h2>
    <pre><code class="html">&lt;head>
  &lt;script>
    function sayHello(){
      alert("Hello!");
    }
  &lt;/script>
&lt;/head>
&lt;body>
  &lt;button onclick="sayHello">
    Say Hello!
  &lt;/button>
&lt;/body></code></pre>
</section>
<section>
  <h2>Doing HTTP requests</h2>
  <pre><code class="javascript">function requestJson(resource){
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", resource, false);
    xhttp.send();
    return JSON.parse(xhttp.response);
}
requestJson("https://webdevelopment2017-theshortcut.appspot.com/messages/test");
</pre></code>
</section>
<section>
  <h2>Doing Asynchronous HTTP requests</h2>
  <pre><code class="javascript">function requestJson(resource,callback){
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", resource, true);
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           callback(JSON.parse(xhttp.response))
        }
    };
    xhttp.send();
}
requestJson("https://webdevelopment2017-theshortcut.appspot.com/messages/test",
function(result){
  console.log(result);
});
</pre></code>
</section>
<section data-markdown>
## Should you right vanilla javascript?
- Libraries
  - JQuery
  - Modernizr + Pollyfilling
- Frameworks
  - Angular
  - React
  - Riot.js
  - Vue.js
  - Ember
  - Meteor
  - ... so many...
</section>
<section data-markdown>
## Lets add commenting section!
[Messaging App](../exercise-addingCommentsSection.html)
</section>
