<section data-markdown>
## Before Cloud...
- Plan resources
  - Overprovision
- Buy & Build Hardware
  - Upfront investment
  - Can take weeks/months
- Install @ Datacenter
  - Can take weeks
- Maintain Hardware @ Datacenter
</section>
<section data-markdown>
## With Cloud...
"Unlimited" Resources on demand!

minutes to "add" new server
</section>
<section data-markdown>
## Benefits
- Minimal Upfront investment
- Environment scales gradually
- Add/Remove resources on the fly
- Managed Hardware
- Managed Services (Datastores...)
</section>
<section data-markdown>
## Disadvantages
- Typically Not full control of "hardware"
- Hardware might be slightly less performant
- Managed services might be slightly less performant
  - Manage your own services..
- Possibly cost more
  - Hybrid cloud
</section>
<section data-markdown>
## For Startup
Most of these disadvantages do not apply
</section>
<section data-markdown>
## What about Hosting providers?
- Typically aimed at "web sites"
- Typically PHP
- Typically controlled environment
- Typically SQL for data storage
- Typically less flexible
</section>
<section data-markdown>
## Cloud Providers
- Amazon Web Services (AWS)
- Google Cloud Platform
- Microsoft Azure
- DigitalOcean
- ... many more ..
</section>
<section data-markdown>
## Intro to Google Cloud Platform
- Compute
  - App Engine, Compute Engine, Container Engine ...
- Data Storage
  - Cloud Datastore, Cloud Storage, Cloud SQL ...
- Networking
  - VPC, load balancing...
- Machine Learning APIs
  - Natural Language, Translation, Vision ...
- Big data
  - BigQuery, Cloud Dataflow, Cloud Dataproc...
- Management & Dev Tools
</section>
<section data-markdown>
## What will we be using?
- Compute
  - App Engine
- Data Storage
  - Cloud Datastore
</section>
