<section data-markdown>
## Web Frameworks
MANY to choose from

- Easy/Quick to develop
- Good Documentation
- Good Community
- Clean Source Code
- Running Costs
- Productive Language
</section>
<section data-markdown>
## Some languages
- PHP
- Python
- Javascript (Node)
- Java
- Scala
</section>
<section data-markdown>
## Some frameworks
- Laravel (PHP)
- Django (Python)
- Express (Javascript)
- Ninjaframework (Java)
- Playframework (Scala)
</section>
<section>
<h2>Typical Structure</h2>
<div data-dot>
  digraph {
    graph [nodesep=1, ranksep=0.1];
    edge [dir="none"];
    subgraph cluster_server{
      "Controller"->"Model/Service"[label="read/save"];
      "Controller"->"View"[label="renders"];
      color=gray;
      label="WebApplication"
    };
    client->"Controller"[label="request/response"];
    "Model/Service"->"Data Store"
  }
</div>
</section>
<section data-markdown>
## The Example Web Application

- Message Board
- Ninjaframework
- Deployed to App Engine (Free Tier)
- Restful Application
</section>
<section data-markdown>
## Rest
- Provides interoperability between computers
- Uses HTTP methods to
  - GET resources from URLs
  - PUT resources to URLs
  - POST (create) new resources
- "Resources" are typically JSON documents
</section>
<section>
<h2>JSON</h2>
<ul>
<li>Javascript Object Notation</li>
<li>Human Readable file format</li>
</ul>
<pre><code class="json">{
  "title":"Web Development",
  "trainer":"Stephen Fenech",
  "sessions":2,
  "sameSession":false,
  "sessionTitles":["Client Side","Server Side"]
}</code></pre>
</section>
<section>
<h2>Message Board API</h2>
<ul>
  <li>http://projectName.appspot.com/messages/{boardName}
    <ul>
      <li>GET = returns all messages on that board</li>
      <li>POST = adds a new message to that board</li>
    </ul>
  </li>
  <li>GET https://webdevelopment2017-theshortcut.appspot.com/messages/test</li>
</ul>
<pre><code class="json">[
  {
    "id": 5707702298738688,
    "message": "Test Message",
    "created": 1495730277773
  }
]</code></pre>
</section>
<section data-markdown>
## Postman
![Postman Screenshot](../imgs/postman-09-getMessages.png "Postman Screenshot")

</section>
<section data-markdown>
## Lets deploy a web application!
[Google App Engine](../exercise-googleAppEngine.html)
</section>
