<section>
  <div data-dot>
    digraph {
      graph [nodesep=1, ranksep=2];
      edge [dir="both"];
      subgraph cluster_server{
        server1;server2;serverX;color=gray;label="server cluster"
      }
      client1 -> serverX;
      client2 -> server1;
      client3 -> server2;
      clientX -> server2;
      clientY -> serverX
    }
  </div>
</section>
<section>
  <h2>Datastore</h2>
  <div data-dot>
    digraph {
      graph [nodesep=1, ranksep=2];
      edge [];
      subgraph cluster_server{
        "Web Server"->"Datastore";
        color=gray;
        label="Server Side"
      }
      client->"Web Server"
    }
  </div>
</section>
<section>
  <h2>Multiple stores</h2>
  <div data-dot>
    digraph {
      graph [nodesep=1, ranksep=2];
      edge [];
      subgraph cluster_server{
        "Web Server"->"Database","Cache","Cold Store";
        color=gray;label="Server Side"
      }
      client->"Web Server"
    }
  </div>
</section>
<section>
  <h2>High Availability</h2>
  <div data-dot>
    digraph {
      graph [nodesep=0.1, ranksep=1];edge [];
      subgraph cluster_webserver{
        "Web Server1","Web Server2";color=gray;label="Web Server"
      };
      subgraph cluster_coldstore{
        "Store1","Store2","Store3";
        color=gray;label="Cold Store"
      };
      subgraph cluster_cache{
        "Cache Master","Cache  Slave";color=gray;label="Cache"
      };
      subgraph cluster_db{
        "DB Master","DB Slave";color=gray;label="Database"
      };
      "Load Balancer"->"Web Server1","Web Server2"->"DB Master","DB Slave","Cache Master","Cache  Slave","Store1","Store2","Store3";
      client->"Load Balancer"
    }
  </div>
</section>
<section>
  <h2>Growing your Architecture</h2>
  <div data-dot>
    digraph {
      graph [nodesep=0.1, ranksep=1];
      edge [];
      subgraph cluster_webserver{
        "Web Server1","Web Server2";
        color=gray;label="Web Server"
      };
      subgraph cluster_db{
        "DB Master","DB Slave";color=gray;label="Database"
      };
      "Load Balancer"->"Web Server1","Web Server2"->"DB Master","DB Slave";
      client->"Load Balancer"
    }
  </div>
</section>
<section data-markdown>
## Handling More Load
- Increase Power (CPU & Memory)
- Increase Number
</section>
<section>
  <h2>Adding Caches for Speed</h2>
  <div data-dot>
    digraph {
      graph [nodesep=0.1, ranksep=1];edge [];
      subgraph cluster_webserver{
        "Web Server1","Web Server2";color=gray;label="Web Server"
      };
      subgraph cluster_cache{
        "Cache Master","Cache  Slave";color=gray;label="Cache"
      };
      subgraph cluster_db{
        "DB Master","DB Slave";color=gray;label="Database"
      };
      "Load Balancer"->"Web Server1","Web Server2"->"DB Master","DB Slave","Cache Master","Cache  Slave";
      client->"Load Balancer"
    }
  </div>
</section>
<section>
  <h2>Handling Data Increase</h2>
  <div data-dot>
    digraph {
      graph [nodesep=0.1, ranksep=1];edge [];
      subgraph cluster_webserver{
        "Web Server1","Web Server2";color=gray;label="Web Server"
      };
      subgraph cluster_coldstore{
        "Store1","Store2","Store3";color=gray;label="Cold Store"
      };
      subgraph cluster_cache{
        "Cache Master","Cache  Slave";color=gray;label="Cache"
      };
      subgraph cluster_db{
        "DB Master","DB Slave";color=gray;label="Database"
      };
      "Load Balancer"->"Web Server1","Web Server2"->"DB Master","DB Slave","Cache Master","Cache  Slave","Store1","Store2","Store3";
      client->"Load Balancer"
    }
  </div>
</section>
<section>
  <h2>Handling Code Size</h2>
  <div data-dot>
    digraph {
      graph [nodesep=0.1, ranksep=0.1];edge [];
      subgraph cluster_server{
        "Web Server"->"Database","Cache","Cold Store";color=gray;label="Web Application"
      };
      subgraph cluster_serviceA{
        "Web Server SA"[label="Web Server"];"Database SA"[label="Database"];"Cache SA"[label="Cache"];"Web Server SA"->"Database SA","Cache SA";color=gray;label="Service A"
      };
      subgraph cluster_serviceB{
        "Web Server SB"[label="Web Server"];
        "DatabaseSB"[label="Database"];"Web Server SB"->"DatabaseSB";color=gray;label="Service B"
      };
      client->"Web Server"->"Web Server SA","Web Server SB"
    }
  </div>
</section>
